<%- model_class = Article -%>
<div class="page-header">
  <h1>文章</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:文章标题) %>:</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:文章内容) %>:</strong></dt>
  <dd><%= raw @article.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:文章图片) %>:</strong></dt>
  <dd><%= image_tag @article.img , width: 100, height: 100 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:文章类别) %>:</strong></dt>
  <dd><%= @article.categroy.name %></dd>
</dl>

<%= link_to t('.返回', :default => t("helpers.links.返回")),
              articles_path, :class => 'btn btn-default'  %>
<%= link_to t('.编辑', :default => t("helpers.links.编辑")),
              edit_article_path(@article), :class => 'btn btn-default' %>
<%= link_to t('.删除', :default => t("helpers.links.删除")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
