<div class="login-navs">
    <div class="login-navs-logo">
      <a href="index.html">
      <%= image_tag 'login-logo.png', alt: '97gun' %>
      </a>
    <h3 class="login-title">可能是史上最全的冷知识库</h3>
    </div>
    <ul class="login-tab">
      <li><a href="" class="active" >登&nbsp;录</a></li>
      <li><a href="signup" >注&nbsp;册</a></li>
    </ul>
  </div>
 <%= form_tag "/create_login_session" do %>
  <form action="" class="login-form">
    <%= text_field_tag :mobile, params[:name], class: "login-input login-username", placeholder: "手机号码" %>
    <%= password_field_tag :password, params[:password], class: "login-input login-password", placeholder: "密码" %>
    <div class="login-check">
      <div class="login-check-sub">
        <%= check_box_tag  "rember", 1, params[:remember_me]%>
        <%= label_tag :rember, "记住密码" %>
        <%= submit_tag "登录", class: "login-button login-login" %>
        <div class="">
              <a href="javascript:;" class="toggle-form">
              <div class="">
              </div>
              还没注册帐户？点击注册</a>
            </div>
      </div>
    </div>
  <% end %>