<div class=" am-g am-container nt-btnlist">
  <div class="nt-wiki-top-button">
    <a href="/"><button class="nt-new-button nt-new-button-effect nt-btn-primary">最新</button></a>
    <a href="/classical"><button class="nt-new-button nt-new-button-effect">经典</button></a>
  </div>
</div>
<div class=" am-g am-container nt-word-ul">
  <ul  class="nt-list">
    <% @articles.each do |t| %>
    <li class="nt-word">
      <ul class="nt-list">
        <li class="nt-list-word">
          <div>
            <h3 class="nt-list-word-name"><%= t.title %></h3>
            <span class="nt-list-word-mood">&nbsp;&nbsp;【<%= t.mood %>】</span>
            <div class="nt-list-word-button">
              <a class="am-btn am-btn-xs nt-btn-good" href="#">
                猴儿塞雷
                <i class="fa fa-smile-o" aria-hidden="true"></i>
              </a>
              <a class="am-btn am-btn-xs nt-btn-bad" href="#">
                麻麻地
                <i class="am-icon-meh-o"></i>
              </a>
            </div>
          </div>
        </li>
        <li>
          【拼音】<span><%= t.spell %></span>
          <% if current_user && current_user.is_admin %>
            <div class="nt-list-word-button">
              <% if t.good == '1' %>
                <%= link_to cancle_path(t) , class: "am-btn am-btn-xs nt-btn-cream", remote: true,id:  'good'+t.id.to_s do %>
                  已加精 <i class="fa fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to good_path(t) , class: "am-btn am-btn-xs nt-btn-cream", remote: true,id:  'good'+t.id.to_s do %>
                  加精 <i class="am-icon-heart"></i>
                <% end %>
              <% end  %>
              <%= link_to article_path(t), method: "delete", class:'am-btn am-btn-xs nt-btn-delete' do %>
                  删除<i class="am-icon-trash-o"></i>
                <% end %>
            </div>
          <% end %>
        </li>
        <li>【释义】<span><%= t.mean %></span></li>
        <li>【例句】<span><%= t.example %></span></li>
        <% if current_user && current_user.is_admin %>
          <li class="nt-list-word-id">ID: <span><%= t.user.name %></span></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<div class="am-g am-container" style="height:72px;">
  <ul data-am-widget="pagination" class="am-pagination am-pagination-default  am-text-right am-no-layout" style="padding-right: 18px;">
      <div>
        <%= will_paginate @articles %>
      </div>
  </ul>
</div>

